body {
  font-family: Courier Prime Regular;
  background-image: url("image_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin card-general{
  background-color: white;
  padding: 5%;
  margin-top: 20px;
  text-align: center;
}
$color: #800040;
.container {
  max-width: 1024px;
  margin: auto;
  font-size: 18px;
  h1 {
    font-size: 50px;
  }
  h2{
    color: $color;
  }
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
    color: $color;
    font-size: 30px;
  }
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #cc0066;
    border-radius: 2%;
    //position: fixed;
  }
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ff80bf;
    color: black;
  }
  /* $$$$$$$$$$$$$$$$$$$$$$  Contact $$$$$$$$$$$$$$$$$$$$$$  */
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: $color;
  }
  /* label focus color */
  .input-field input[type=email]:focus + label {
    color: $color;
  }
  /* label focus color */
  .input-field textarea:focus + label {
    color: $color;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid $color;
    box-shadow: 0 1px 0 0 $color;
  }
  /* label underline focus color */
  .input-field input[type=email]:focus {
    border-bottom: 1px solid $color;
    box-shadow: 0 1px 0 0 $color;
  }
  /* label underline focus color */
  .input-field textarea:focus {
    border-bottom: 1px solid $color;
    box-shadow: 0 1px 0 0 $color;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: $color;
  }
  /* send color */
  .send{
    background-color: $color;
    color: white;
    font-family: Courier Prime Regular;
    border-width: 0 0 0 0;
  }


  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  /* Fake image */
  .fakeimg {
    width: 100%;
    padding: 2%;
  }
  .avatar {
    vertical-align: middle;
    height: 300px;
    border-radius: 50%;
  }
  .cv{
    background-color: $color;
    font-size: 1.4em;
    width: 50%;

    margin-left: 50%;
    a{
      color: white;
    }
  }
  /* Add a card effect for articles */
  .card {
    @include card-general;
    img{
      float: left;
    }
    p{
      text-align: right;
    }
  }
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
    //position: fixed;
    .card-right-present{
      @include card-general;
      img{
        width: 70%;
        height: auto;
      }
    }
    .card-right-contact{
      @include card-general;
      //border-radius: 5%;
      //background-color: #ffe6ff;
      a{
        font-size: 1.5em;
        color: $color;
      }
    }
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .leftcolumn, .rightcolumn {
    float: none;
    width: 100%;
  }

  .topnav a {
    float: none;
    width: 100%;
  }
  .input-field {
    width: 100%;
  }
  h2{
    font-size: 1.5em;
  }
  .card-right-contact{
    a{
      font-size: 10px;
    }
  }

}
