body {
  background: #800040;
  font-size: 18px;
  font-family: serif;
}

/*!* Style the navbar *!
#navbar {
  overflow: hidden;
  background-color: #333;
}

!* Navbar links *!
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

!* Page content *!
.content {
  padding: 16px;
}

!* The sticky class is added to the navbar with JS when it reaches its scroll position *!
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
!* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) *!
.sticky + .content {
  padding-top: 60px;
}*/
header {
  color: white;
  font-size: 3em;
  text-align: center;
  position: relative;
  padding: 10% 10% 1% 10%;
}
header div {
  position: absolute;
}
header h1 {
  font-size: 2em;
}

/* Style the top navigation bar */
.nav-header {
  overflow: hidden;
  background-color: #800040;
  position: fixed;
  width: 94%;
  z-index: 2;
}

/*.hiddendiv.common{
  width: 100% !important;
}*/
/* Style the topnav links */
.nav-header a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 1%;
  text-decoration: none;
}

/* Change color on hover */
.nav-header a:hover {
  background-color: black;
}

.card-general {
  background-color: white;
  text-align: center;
  margin: 1%;
  width: 100%;
  padding: 1%;
  /* $$$$$$$$$$$$$$$$$$$$$$  Contact $$$$$$$$$$$$$$$$$$$$$$  */
  /* label focus color */
  /* label focus color */
  /* label focus color */
  /* label underline focus color */
  /* label underline focus color */
  /* label underline focus color */
  /* icon prefix focus color */
  /* send color */
}
.card-general .title {
  font-size: 4em;
  color: #800040;
  margin: 1%;
  padding-top: 3%;
}
.card-general .profile {
  display: flex;
}
.card-general .profile .img-profile {
  padding: 0% 5% 5% 5%;
}
.card-general .profile .img-profile .avatar {
  vertical-align: middle;
  height: 400px;
  border-radius: 50%;
}
.card-general .profile .text-profile {
  padding: 2% 8% 5% 8%;
  font-size: 1.8em;
  text-align: left;
  font-family: cursive;
}
.card-general .cv {
  background-color: #800040;
  padding: 1%;
  font-size: 0.7em;
  width: 70%;
  margin: 10% 0 0 15%;
  text-align: center;
  font-family: serif;
}
.card-general .cv a {
  color: white;
  text-decoration: none;
}
.card-general .cv a:hover {
  background-color: black;
}
.card-general .img-logo {
  width: 20%;
  height: 20%;
  display: flex;
}
.card-general .img-logo img {
  width: 100%;
  height: auto;
}
.card-general .contact {
  padding: 1%;
  /*.left-contact{
    width: 160%;
    padding: 1%;
  }*/
}
.card-general .row img {
  height: 250px;
  width: auto;
}
.card-general .card-action a {
  color: #800040 !important;
}
.card-general .card-img {
  width: auto;
  height: 250px;
}
.card-general .input-field input[type=text]:focus + label {
  color: #800040;
}
.card-general .input-field input[type=email]:focus + label {
  color: #800040;
}
.card-general .input-field textarea:focus + label {
  color: #800040;
}
.card-general .input-field input[type=text]:focus {
  border-bottom: 1px solid #800040;
  box-shadow: 0 1px 0 0 #800040;
}
.card-general .input-field input[type=email]:focus {
  border-bottom: 1px solid #800040;
  box-shadow: 0 1px 0 0 #800040;
}
.card-general .input-field textarea:focus {
  border-bottom: 1px solid #800040;
  box-shadow: 0 1px 0 0 #800040;
}
.card-general .input-field .prefix.active {
  color: #800040;
}
.card-general .send {
  background-color: #800040;
  color: white;
  border-width: 0 0 0 0;
  padding: 1% 2%;
  margin-bottom: 2%;
}

/*# sourceMappingURL=style.css.map */
